<div class="container">
<div class = "col-lg-12">
    <div class="card my-5 rounded-0">
        <div class="card-body">
            <h2 class="card-title text-center">Add New Student</h2>
        </div>
    </div>
   <%= render "shared/forms" , student: @student %>
</div>
</div>