<footer class="footer mt-auto py-3 bg-warning">
   <div class="container">
     <div class="d-flex justify-content-center gap-2">
       <%= link_to 'About Us', about_us_path , class:'btn' %>
       <%= link_to 'Contact Us',contactform_path , class:'btn'%>
       <%= link_to 'FAQs', faqs_path , class:'btn' %>
     </div>
     <div class="text-center mt-2">
        <div class="text-muted">Copyright &copy; 2024. All Rights Reserved.</div>
     </div>
   </div>
</footer>